################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/EchecGame/obj

\.vs/EchecDotNet/v15/

EchecLibrary/obj/

EchecWeb/properties

EchecWeb/Dépendances

EchecWeb/bin

EchecWeb/appsettings.Development.json

EchecWeb/appsettings.json

EchecWeb/obj

EchecWeb/wwwroot/lib
